<div class="main-header">
	<span class="menu-bar" ng-click="vm.toggleMenu()">
		<span class="glyphicon glyphicon-menu-hamburger"></span>
	</span>
<div class="logininfo">
     欢迎你，{{vm.username}}
     <div class="settinginfo">
     	<span>余额:{{vm.money}}</span>
     	<span ng-click="vm.getunlogin()">退出登录</span>
     </div>
</div>
<div class="menutop">
	<span ng-click="vm.showListCar()">查看购物车</span>
	<span>联系我们
	<div class="linetop"></div>
	<div class="boxtop">
		<div>作者:邢一飞</div>
		<div>沈阳工业大学</div>
		<div>软件1304班</div>
	</div>
	</span>
</div>
<div class="searchtop">
	<input type="text" placeholder="输入商品进行查询" ng-model="vm.foodname"/>
	<span ng-click="vm.searchfood()"></span>
</div>
</div>